html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f8ea;
}

h1 {
    font-size: 42px;
    margin: 0;
    padding: 16px;
    padding-left: 30px;
}

a {
    color: gray;
    text-decoration: none;
}

h1:hover, a:hover {
    color: #555;
}

div, p {
    font-size: 20px;
    color: gray;
}

hr {
    border: 1px solid #dddddd;
    margin: 30px 0;
}
label {
}
input {
    font-size: 20px;
    margin: 6px;
    padding: 6px;
    width: 80px;
    text-align: right;
    background-color: #fafaef;
    border-radius: 5px;
    border: 2px solid #ccc;
    outline: none;
}

button {
    float: right;
    color: #9a9a9a;
    font-size: 23px;
    font-weight: bold;
    width: 90px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #cecece;
    cursor: pointer;
    outline: none;
}
button:hover  { color: black; }
button:active { color: white; }

.outer-container {
    width: 1060px;
    margin: 0 auto;
}

.container {
    width: 700px;
    height: 620px;
    margin: 0;
    background-color: #e8e8da;
}

.content {
    width: 690px;
    margin: 0 auto;
    padding: 30px 0;
}

#header {
    margin: 0;
    height: 100px;
    background-color: #d8d8ca;
}

#footer {
    margin: 0;
    height: 180px;
    background-color: #d8d8ca;
}

#source {
    float: right;
    margin: 20px;
    padding: 10px;
}

#read {
    background-color: #eeffee;
}
#write {
    background-color: #ededff;
}

#record {
    float: none;
    background-color: #ffeeee;
    width: 130px;
    padding: 20px;
}
.settings {
    margin: 20px 0;
}
#record-btnbox {
    text-align: center;
    margin: 10px auto;
}
.record-content {
    width: 240px;
    height: 620px;
    padding: 10px 20px;
    margin: 0;
    box-sizing: border-box;
}
.record-container {
    float: right;
    background-color: #efefdf;
    margin: 0;
}

.space {
    width: 600px;
    height: 64px;
}
.space-container {
    margin-top: 30px;
    margin-bottom: 0px;
}

#circuit-container {
    width: 500px;
    margin: 10px auto;
    padding: 0;
}

#circuit {
}

#info {
    font-size: 23px;
    font-weight: bold;
}
#nStep {
    float: right;
}

#map, #thumbnail {
    display: none;
}
